body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta", sans-serif;
}

.dashboard {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "header header" "sidebar page";
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 6fr;
}

.header {
  grid-area: header;
}

.page {
  grid-area: page;
  margin: auto 2rem;
}

.analytics {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "stats stats stats" "graph1 graph1 graph2"
    "table table table";
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
}

.stats {
  grid-area: stats;
  /* display: flex;
  justify-content: space-around; */
}

.graph1 {
  grid-area: graph1;
}

.graph2 {
  grid-area: graph2;
}

.table {
  grid-area: table;
}

.sidebar i {
  padding-right: 15px;
}

.icon-back-1 {
  color: #52c2b0;
}

.icon-back-2 {
  color: #c03f68;
}

.icon-back-3 {
  color: #4b494b;
}

@media screen and (max-width: 992px) {
  .analytics {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "stats" "graph1" "graph2" "table";
  }
}
